extends ./layout/_layout.pug

block content

  section.section
    .container
      h1.title Components
      hr
      .columns
        .column
          h2.subtitle Breadcrumb
          .card
            .card-content
              nav.breadcrumb(aria-label='breadcrumbs')
                ul
                  li
                    a(href='#') Bulma
                  li
                    a(href='#') Documentation
                  li
                    a(href='#') Components
                  li.is-active
                    a(href='#', aria-current='page') Breadcrumb
            //- card-content
          //- card
          br
          h2.subtitle Card
          .card
            .card-image
              figure.image.is-4by3
                img(src='https://bulma.io/images/placeholders/1280x960.png', alt='Placeholder image')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='https://bulma.io/images/placeholders/96x96.png', alt='Placeholder image')
                .media-content
                  p.title.is-4 John Smith
                  p.subtitle.is-6 @johnsmith
              .content
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                | Phasellus nec iaculis mauris. 
                a @bulmaio
                | .
                a(href='#') #css
                a(href='#') #responsive
                br
              time(datetime='2016-1-1') 11:09 PM - 1 Jan 2016
          br
          h2.subtitle Icons
          .card
            .card-content
              span.icon.has-text-info
                i.fas.fa-info-circle
              span.icon.has-text-success
                i.fas.fa-check-square
              span.icon.has-text-warning
                i.fas.fa-exclamation-triangle
              span.icon.has-text-danger
                i.fas.fa-ban
            //- card-content
          //- card
          br
          h2.subtitle Image
          .card
            .card-content
              figure.image.is-128x128
                img(src='https://bulma.io/images/placeholders/128x128.png')
            //- card-content
          //- card
        //- column
        .column
          h2.subtitle Dropdown
          .card
            .card-content
              .dropdown.is-active
                .dropdown-trigger
                  button.button(aria-haspopup='true', aria-controls='dropdown-menu')
                    span Dropdown button
                    span.icon.is-small
                      i.fas.fa-angle-down(aria-hidden='true')
                #dropdown-menu.dropdown-menu(role='menu')
                  .dropdown-content
                    a.dropdown-item(href='#')
                      | Dropdown item
                    a.dropdown-item
                      | Other dropdown item
                    a.dropdown-item.is-active(href='#')
                      | Active dropdown item
                    a.dropdown-item(href='#')
                      | Other dropdown item
                    hr.dropdown-divider
                    a.dropdown-item(href='#')
                      | With a divider
            //- card-content
          //- card
          br
          h2.subtitle Messages
          article.message
            .message-header
              p Hello World
              button.delete(aria-label='delete')
            .message-body
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              strong Pellentesque risus mi
              | , tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum 
              a felis venenatis
              |  efficitur. Aenean ac 
              em eleifend lacus
              | , in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
          br
          h2.subtitle Modal
          a.button.is-primary.is-large.modal-button(data-target='modal') Launch example modal
          .modal
            .modal-background
            .modal-content
              // Any other Bulma elements you want
            button.modal-close.is-large(aria-label='close')
        //- column
      //- columns
      .columns
        .column
          h1.subtitle Menu
          .card
            .card-content
              aside.menu
                p.menu-label
                  | General
                ul.menu-list
                  li
                    a Dashboard
                  li
                    a Customers
                p.menu-label
                  | Administration
                ul.menu-list
                  li
                    a Team Settings
                  li
                    a.is-active Manage Your Team
                    ul
                      li
                        a Members
                      li
                        a Plugins
                      li
                        a Add a member
                  li
                    a Invitations
                  li
                    a Cloud Storage Environment Settings
                  li
                    a Authentication
                p.menu-label
                  | Transactions
                ul.menu-list
                  li
                    a Payments
                  li
                    a Transfers
                  li
                    a Balance
            //- card-content
          //- card
        //- column
        .column
        
        //- column
      //- columns
    //- container
  //- section

block scripts
  script.
    $(document).ready(function() {

    });
