section
  .container
    h1 skeleton-pug-sass
    br
    h4 CSS Framework
    a(href='https://angular-ui.github.io/bootstrap/') UI Bootstrap
    hr
    h4 Javascript Framework
    a(href='https://angularjs.org/') AngularJS
    hr
    h4 Template Engine
    a(href='https://pugjs.org/api/getting-started.html') Pugjs
    hr
    h4 CSS Extension Language
    a(href='http://sass-lang.com/') Sass
  //- container
//- section
