section
  .container
    h1 skeleton-pug-sass
    br
    h4 CSS Framework
    a(href='https://angular-ui.github.io/bootstrap/') UI Bootstrap
    hr
    h4 Javascript Framework
    a(href='https://angularjs.org/') AngularJS
    hr
    h4 Template Engine
    a(href='https://pugjs.org/api/getting-started.html') Pugjs
    hr
    h4 CSS Extension Language
    a(href='http://sass-lang.com/') Sass
    
    hr
    h4 Data Table
    a(href='http://www.jquery-bootgrid.com/Examples') jQuery Bootgrid
    .clearfix
    br
    .card
      table.table.table-condensed.table-hover.table-striped
        thead
          tr
            th ID
            th(drag-me, drop-me) Sender
            th(drag-me, drop-me) Received
          //- tr
        //- thead
        tbody
          tr
            td 10238
            td eduardo@pingpong.com
            td 14.10.2013
          //- tr
    br
    .card
      table#grid-basic.table.table-condensed.table-hover.table-striped
        thead
          tr
            th(data-column-id='id', data-type='numeric') ID
            th(data-column-id='sender', drag-me, drop-me) Sender
            th(data-column-id='received', data-order='desc', drag-me, drop-me) Received
          //- tr
        //- thead
        tbody
          tr
            td 10238
            td eduardo@pingpong.com
            td 14.10.2013
          //- tr
          tr
            td 10243
            td eduardo@pingpong.com
            td 19.10.2013
          //- tr
          tr
            td 10248
            td eduardo@pingpong.com
            td 24.10.2013
          //- tr
          tr
            td 10253
            td eduardo@pingpong.com
            td 29.10.2013
          //- tr
          tr
            td 10234
            td lila@google.com
            td 10.10.2013
          //- tr
          tr
            td 10239
            td lila@google.com
            td 15.10.2013
          //- tr
          tr
            td 10244
            td lila@google.com
            td 20.10.2013
          //- tr
          tr
            td 10249
            td lila@google.com
            td 25.10.2013
          //- tr
          tr
            td 10237
            td robert@bingo.com
            td 13.10.2013
          //- tr
          tr
            td 10242
            td robert@bingo.com
            td 18.10.2013
          //- tr
          tr
            td 10247
            td robert@bingo.com
            td 23.10.2013
          //- tr
          tr
            td 10252
            td robert@bingo.com
            td 28.10.2013
          //- tr
          tr
            td 10236
            td simon@yahoo.com
            td 12.10.2013
          //- tr
          tr
            td 10241
            td simon@yahoo.com
            td 17.10.2013
          //- tr
          tr
            td 10246
            td simon@yahoo.com
            td 22.10.2013
          //- tr
          tr
            td 10251
            td simon@yahoo.com
            td 27.10.2013
          //- tr
          tr
            td 10235
            td tim@microsoft.com
            td 11.10.2013
          //- tr
          tr
            td 10240
            td tim@microsoft.com
            td 16.10.2013
          //- tr
          tr
            td 10245
            td tim@microsoft.com
            td 21.10.2013
          //- tr
          tr
            td 10250
            td tim@microsoft.com
            td 26.10.2013
          //- tr
        //- tbody
      //- table
    //- card

  //- container
//- section

script.
  $("#grid-basic").bootgrid();
