section
  .container
    h1 skeleton-pug-sass
    br
    h4 CSS Framework
    a(href='http://getbootstrap.com/') Bootstrap v4.0
    hr
    h4 Javascript Framework
    a(href='https://angularjs.org/') AngularJS
    hr
    h4 Template Engine
    a(href='https://pugjs.org/api/getting-started.html') Pugjs
    hr
    h4 CSS Extension Language
    a(href='http://sass-lang.com/') Sass
    
    hr
    
    h4 Data Table
    a(href='http://www.jquery-bootgrid.com/Examples') jQuery Bootgrid
    .clearfix
    br
    .card
      table.table.table-condensed.table-hover.table-striped
        thead
          tr
            th ID
            th(drag-me, drop-me) Sender
            th(drag-me, drop-me) Received
          //- tr
        //- thead
        tbody
          tr
            td 10238
            td eduardo@pingpong.com
            td 14.10.2013
          //- tr
        //- tbody
      //- table
    //- card
  //- container
//- section

script.
  $("#grid-basic").bootgrid();
