section
  .container
    .container
      h3 skeleton-pug-sass
      br
      .row
        .col-md
          .card
            .card-body
              h4 CSS Framework
              a(href='http://getbootstrap.com/') Bootstrap v4.0
            //- card-body
          //- card
          br
        //- col-md
        .col-md
          .card
            .card-body
              h4 Javascript Framework
              a(href='https://angularjs.org/') AngularJS
            //- card-body
          //- card
          br
        //- col-md
      //- row
      .row
        .col-md
          .card
            .card-body
              h4 Template Engine
              a(href='https://pugjs.org/api/getting-started.html') Pugjs
            //- card-body
          //- card
          br
        //- col-md
        .col-md
          .card
            .card-body
              h4 CSS Extension Language
              a(href='http://sass-lang.com/') Sass
            //- card-body
          //- card
          br
        //- col-md
      //- row
      .row
        .col-md
          .card
            .card-body
              h4 Draggable Table Column
              a(href='https://github.com/maliMirkec/angular-dragtable') angular-dragtable
              .clearfix
              br
              table.table.table-condensed.table-hover.table-striped
                thead
                  tr
                    th ID
                    th(drag-me, drop-me) Sender
                    th(drag-me, drop-me) Received
                  //- tr
                //- thead
                tbody
                  tr
                    td 10238
                    td eduardo@pingpong.com
                    td 14.10.2013
                  //- tr
                //- tbody
              //- table
            //- card-body
          //- card
        //- col
      //- row
    //- container
  //- container
//- section

script.
  //-
