extends ./layout/_layout.pug

block content

  section.section
    .container
      h1.title Form
      hr
      h2.subtitle Form Control
      .card
        .card-content
          .field
            label.label Name
            .control
              input.input(type='text', placeholder='Text input')
          .field
            label.label Username
            .control.has-icons-left.has-icons-right
              input.input.is-success(type='text', placeholder='Text input', value='bulma')
              span.icon.is-small.is-left
                i.fas.fa-user
              span.icon.is-small.is-right
                i.fas.fa-check
            p.help.is-success This username is available
          .field
            label.label Email
            .control.has-icons-left.has-icons-right
              input.input.is-danger(type='email', placeholder='Email input', value='hello@')
              span.icon.is-small.is-left
                i.fas.fa-envelope
              span.icon.is-small.is-right
                i.fas.fa-exclamation-triangle
            p.help.is-danger This email is invalid
          .field
            label.label Subject
            .control
              .select
                select
                  option Select dropdown
                  option With options
          .field
            label.label Message
            .control
              textarea.textarea(placeholder='Textarea')
          .field
            .control
              label.checkbox
                input(type='checkbox')
                |       I agree to the 
                a(href='#') terms and conditions
          .field
            .control
              label.radio
                input(type='radio', name='question')
                |       Yes
              label.radio
                input(type='radio', name='question')
                |       No
          .field.is-grouped
            .control
              button.button.is-link Submit
            .control
              button.button.is-text Cancel

        //- card-content
      //- card
    //- container
  //- section

block scripts
  script.
    
