doctype html
html#admin(lang="en")
  head
    // Title block allowing child pages to override
    title Welcome to Strata Portal
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/x-icon", href="assets/images/favicon.ico")
    
    //- CDN
    script(defer, src="//use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
    
    //- BOWER COMPONENTS
    // bower:css
    // endinject
      
    //- APP JS
    // inject:css
    // endinject
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    
    #app
      
      include ../includes/_aside.pug
      
      block content
    
    //- BOWER COMPONENTS
    // bower:js
    // endinject
    
    //- APP JS
    // inject:js
    // endinject

    //- PAGE SCRIPTS
    block scripts
    script.
      
