// 1. Import the initial variables
@import "../../bower_components/bulma/sass/utilities/initial-variables";
@import "../../bower_components/bulma/sass/utilities/functions";

// SAMPLE CUSTOM COLOR VAUES
$link                               : #016FB9;
$primary                            : #e08a57;
$info                               : #016FB9;
$success                            : #00a077;
$warning                            : #E3D081;
$danger                             : #FF715B;


// ALL
$radius                             : 2px;

// FORMS
$input-focus-border-color           : #ddd;
$input-focus-box-shadow-color       : rgba(#ccc, 0.25);

// NAVBAR
$navbar-height                      : 4rem;
$navbar-item-img-max-height         : 3.5rem;
// $navbar-item-hover-color            : $dark;

// FOOTER
$footer-background-color            : $success;

// MENU
$menu-item-color                    : #dbdbdb;
$menu-item-radius                   : 0;
$menu-item-active-background-color  : transparent;
$menu-item-hover-background-color   : transparent;
$menu-item-active-color             : $success;
$menu-item-hover-color              : $primary;
$menu-label-color                   : #717171;
$menu-list-border-left              : 1px solid darken(#717171, 15%);
$navbar-dropdown-boxed-radius       : 2px;
$navbar-dropdown-boxed-shadow       : 0 1px 3px rgba($black, 0.1), 0 0 0 0 rgba($black, 0.1);

// CARD
$card-shadow	                      : 0 1px 3px rgba($black, 0.1), 0 0 0 0 rgba($black, 0.1);


// Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
// Add new color variables to the color map.
@import "../../bower_components/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../../bower_components/bulma/bulma";



.table:last-child {
  margin-bottom: 0;
}
