@import '_mixins';

html {
  font-size: 16px;
}
body {
  font-size: 62.5%;
}

// =============================================================================[ CUSTOM CSS ]

header {
  & {
    background: #eee;
    padding: 25px 0;
  }
  h1 {
    margin: 0;
  }
}

section {
  padding: 55px 0;
  // color: gray;
  font-size: 1.4em;
}

footer {
  background: #333;
  color: gray;
  padding: 25px 0;
}

.card {
  padding: 15px;
  border: 1px solid #eee;
}
