aside.menu.--admin(v-bind:class="[{'visible': isVisible}, {'mobile': isMobile}]")
  .admin-logo.is-hidden-touch
    img(src='assets/images/logo-piq.png', alt='PIQ Strata')
  //- admin-logo
  .menu-wrap
    p.menu-label
      | General
    //- p
    ul.menu-list
      li
        a.is-active(href='dashboard.html') Dashboard
      //- li
      li
        a My Properties
      //- li     
      li
        a Contact
      //- li
    //- ul
    p.menu-label
      | Accounts
    //- p
    ul.menu-list
      li
        a Strata
        |
        ul
          li
            a Due Notices
          //- li
          |         
          li
            a Receipts
          //- li
          |         
          li
            a Meetings
          //- li
          li
            a Insurance
          //- li
          |         
          li
            a Contacts
          //- li
        //- ul
      //- li
      li
        a General
        |       
        ul
          li
            a Documents
          //- li
        //- ul
      //- li
    //- ul
  //- menu-wrap
//- aside

include _topbar.pug
